@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* accent-color: theme(colors.pink.500); */
  @apply accent-pink-500;
}
::selection {
  @apply bg-pink-500 text-white;
}

.input {
  --tw-input-background-color: white;
  --tw-input-border-radius: 4px;
  --tw-input-font-size: 13px;
  --tw-input-ring-color: theme(colors.gray.200);
  --tw-input-ring-width: 1px;
  --tw-input-padding-x: 1.5rem;
  --tw-input-padding-y: 14px;
  --tw-input-width: 100%;
  background-color: var(--tw-input-background-color);
  border-radius: var(--tw-input-border-radius);
  box-shadow: 0 0 0 var(--tw-input-ring-width) var(--tw-input-ring-color);
  display: block;
  font-size: var(--tw-input-font-size);
  height: var(--tw-input-height);
  max-width: 100%;
  padding: var(--tw-input-padding-y) var(--tw-input-padding-x);
  transition-duration: 300ms;
  width: var(--tw-input-width);
}
.input:autofill {
  box-shadow:
    inset 1000px 1000px 1000px var(--tw-input-background-color), 0 0 0 var(--tw-input-ring-width) var(--tw-input-ring-color);
  font-size: var(--tw-input-font-size);
}
.input-rounded, .input {
  --tw-input-border-radius: 999px;
}

.input-lg, .input-lg .input {
  --tw-input-padding-y: 2rem;
}

.input-sm, .input-lg .input {
  --tw-input-padding-x: 1rem;
  --tw-input-padding-y: 0.5rem;
  --tw-input-width: auto;
}
.w-full, .w-full .input {
  --tw-input-padding-x: 1rem;
  --tw-input-padding-y: 0.5rem;
  --tw-input-width: 100%;
}
[disabled=true] .input, .disabled .input {
  --tw-input-border-opacity: 1;
  --tw-input-opacity: 0.5;
  background-color: var(--tw-input-background-color);
  border-color: rgba(229, 231, 235, var(--tw-input-border-opacity));
  opacity: var(--tw-input-opacity);
  /* pointer-events: none; */
  cursor: not-allowed;
}

.input-textarea {
  --tw-input-height: 12.5rem;
}

.input::placeholder {
  @apply text-gray-400;
}

.input:hover {
  --tw-input-ring-color: theme(colors.pink.300);
}
.input:is(:focus, :focus-within, .input-focus, .input-focus-within) {
  --tw-input-ring-color: theme(colors.pink.500);
  outline: none;
}
.input:is(.has-input-error *) {
  --tw-input-ring-color: theme(colors.red.200);
}
.input:is(.has-input-error *):hover {
  --tw-input-ring-color: theme(colors.red.300);
}
.input:is(.has-input-error *):focus {
  --tw-input-ring-color: theme(colors.red.500);
}
.input.px-0 {
  --tw-input-padding-x: 0;
}

.input[readonly] {
  --tw-input-background-color: theme(colors.gray.100);
}
.input.select-input {
  display: flex;
}